@model ProductViewModel

<div class="col-md-6 py-4 ">

    <div class=" d-flex justify-content-center align-items-center ">
        <div class=" img-card w-50  d-flex justify-content-center align-items-center   ">
            <img src="~/@Model.PictureUrl" class="img-product card-img-top w-75 h-50  my-4 rounded-4">
        </div>
    </div>

</div>
<div class="col-md-6 py-4  ">

    <div class="row">
        <div class="col-md-6 ">

            <label asp-for="Name" class=" my-1 text-light fw-semibold"></label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span> @* //for validtion  *@


            <label asp-for="Description" class=" my-1 text-light fw-semibold"></label>
            <textarea asp-for="Description" class="form-control" readonly ></textarea>

            <label asp-for="Price" class=" my-1 text-light fw-semibold"></label>
            <input asp-for="Price" class=" form-control" readonly />
            @* <span></span> //for validtion *@

            <label asp-for="Category" class="my-1 text-light fw-semibold"></label>
            <input asp-for="Category.Name" class="form-control" readonly />
            @* <span></span> //for validtion *@

            <label asp-for="Brand" class="my-1 text-light fw-semibold"></label>
            <input asp-for="Brand.Name" class="form-control" readonly />


        </div>

    </div>
</div>


